table {
    font-size: 40px;
    color: #fff;
}

h2 {
    font-size: 40px;
}

td, th {
    padding: 10px;
    text-align: center;
}

.moda-th {
    background-color: #BB86FC;
}

.tabela-moda, .tabela-casa {
    background-color: #424250;
}

.casa-th {
    background-color: #00C4B4;
}